@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
    font-family: "Ubuntu", sans-serif;

    background-color: #282828;
    color: white;

    text-align: center;
}

#console-output {
    width: 95%;
    height: 80vh;

    padding: 10px;
    margin: auto;

    background-color: #0f0f0f;

    font-family: monospace;
    text-align: left;

    border: 1px solid #7f7f7f;
    overflow: auto;
}